main {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#calculadora-elem {
  width: 90%;
  border: 0.3rem outset #d0d0d0;
  background-color: #fff;
  padding: 1.5rem;
}

#calculadora-entrada {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#cantidad-dinero {
  font-size: 1.2rem;
  outline: none;
  padding: 0.5rem;
  width: 80%;
}

#calcular-btn {
  border: none;
  background-color: #000;
  color: #fff;
  padding: calc(0.5rem + 2px);
  font-size: 1.2rem;
  width: 20%;
}

.ficha {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.75rem 0;
  width: 100%;
  display: flex;
}

.ficha-valor-cont, #columna-valor-ficha {
  width: 30%;
  display: inline-flex;
}

.ficha-valor {
  font-size: 1.25rem;
  padding: 0px 5px;
  text-align: center;
  width: 40%;
}

.ficha-texto {
  padding: 0.25rem 0.5rem;
  width: 60%;
}

#columnas-titulo {
  display: flex;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;

  span {
    border: none;
    border-left: solid #fff 1px;
    background-color: #000;
    padding: 0.5rem;
  }
}

input[id^="porcentaje"], #columna-porcentaje-ficha {
  width: 12%;
}

.calculo-fichas, #columna-resultado-ficha{
  width: 58%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[id^="porcentaje"] {
  margin: 0rem 0.5rem;
  text-align: center;
  -moz-appearance: textfield;
}

#valor-100 span, #valor-100 b {
  color: #000;
}
#valor-50 span, #valor-50 b {
  color: #900;
}
#valor-30 span, #valor-30 b {
  color:#009;
}
#valor-20 span, #valor-20 b {
  color: #272;
}
#valor-10 span, #valor-10 b {
  color: #606060;
  margin-bottom: 0;
}

#datos-calculados {
  font-size: 1.25rem;
}


@media only screen and (max-width: 700px) {
  * {
    font-size: 12px;
  }
  header > span {
    font-size: 2em
  }
}
