input[type="number"] {
  font-size: 1.2rem;
  outline: none;
  padding: 0.5rem;
}

input[type="button"] {
  border: none;
  background-color: #000;
  color: #fff;
  padding: calc(0.5rem + 2px);
  font-size: 1.2rem;
}

#administrar-fondo-cont {
  width: 80%;
  background-color: #fff;
  font-size: 1.5rem;
  border: 0.4rem outset #d0d0d0;
  display: flex;
  padding: 0.5rem;
}

#administrar-fondo-elem {
  width: 100%;
  display: flex;
}

#monto-input {
  width: 90%;
}

#monto-sumar-btn {
  width: 10%;
}

#monto-restar-btn {
  border-left: 1px solid #fff;
  width: 10%;
}

#fondo-elem {
  width: 80%;
  background-color: #fff;
  font-size: 1.5rem;
  border: 0.4rem outset #d0d0d0;
  display: flex;
  padding: 0.5rem;
  justify-content: center;

}

#fondo-texto {

}
