#agregar-cliente {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
}

#agregar-cliente-btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.2em 1em;
  height: 100%;
}

#agregar-cliente-btn:hover {
  background-color: #222;
}

#agregar-cliente-btn:active {
  background-color: #444;
}

#cliente-nuevo-nombre {
  outline: none;
  padding: 0.5em;
  width: 100%;
}

#clientes {
} 

.cliente {
  font-size: 1.5rem;
  border: 0.4rem outset #d0d0d0;
  background-color: #fff;
  display: flex;
}

.eliminar-cliente-btn {
  color: #fff;
  background-color: #000;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eliminar-cliente-btn:hover {
  color: #bbb;
  user-select: none;
  cursor: pointer;
}

.nombre-cliente {
  padding: 0.5rem;
  width: 40%;
  font-size: 1em;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: 'Times New Roman', serif;
  height: 100%;
}

.cuenta-cliente {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.cantidad-cuenta {
  width: 80%;
  text-align: center;
  font-family: Arial;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.cantidad-operacion {
  font-family: Arial;
  letter-spacing: 0.1em;
  font-size: 0.5em;
  width: 40%;
  height: 80%;
  text-align: center;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.sumar-cuenta, .restar-cuenta, .reiniciar-cuenta {
  width: 20%;
  max-width: 50px;
  background-color: #ddd;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.sumar-cuenta:hover, .restar-cuenta:hover, .reiniciar-cuenta:hover {
  background-color: #ccc;
}

.sumar-cuenta:active, .restar-cuenta:active, .reiniciar-cuenta:hover {
  background-color: #bbb;
}

.restar-cuenta {
  border-left: 1px solid #000;
}

.reiniciar-cuenta {
  border-left: 1px solid #000;
}


@media only screen and (max-width: 700px) {
  * {
    font-size: 12px;
  }
}
