<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/calculadora-fichas.css">
  <script defer src="js/calculadora-fichas.js"> </script>
  <title>Calculadora de fichas</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Inicio</a>
      <a href="/fondos">Fondos</a>
    </nav>
    <section id="titulo-elem">
      <span id="titulo-texto">Calculadora</span>
    </section>
  </header>
  <main id="calculadora-cont">
    <section id="calculadora-elem">
      <article id="calculadora-entrada">
       <input id="cantidad-dinero" placeholder="Cantidad en $MXN" type="number" name="">
       <input id="calcular-btn" type="button" value="Calcular">
      </article>
      <article id="cantidad-fichas-cont">
        <div class="ficha" id="valor-100">
          <input id="porcentaje-100" type="number" max="1" min="0" step="0.005" name="" value="0.2">
          <p>Fichas de <span class="ficha-valor">❂100⤜</span><span class="calculo-fichas"></span></p>
        </div>
        <div class="ficha" id="valor-50">
          <input id="porcentaje-50" type="number" max="1" min="0" step="0.005" name="" value="0.2">
          <p>Fichas de <span class="ficha-valor">❂50⤜</span><span class="calculo-fichas"></span></p>
        </div>
        <div class="ficha" id="valor-30">
          <input id="porcentaje-30" type="number" max="1" min="0" step="0.005" name="" value="0.2">
          <p>Fichas de <span class="ficha-valor">❂30⤜</span><span class="calculo-fichas"></span></p>
        </div>
        <div class="ficha" id="valor-20">
          <input id="porcentaje-20" type="number" max="1" min="0" step="0.005" name="" value="0.2">
          <p>Fichas de <span class="ficha-valor">❂20⤜</span><span class="calculo-fichas"></span></p>
        </div>
        <div class="ficha" id="valor-10">
          <input id="porcentaje-10" type="number" max="1" min="0" step="0.005" name="" value="0.2">
          <p>Fichas de <span class="ficha-valor">❂10⤜</span><span class="calculo-fichas"></span></p>
        </div>
      </article>
      <article id="datos-calculados">
        <div id="total-porcentaje"></div>
        <div id="total-fichas"></div>
        <div id="error-calculo"></div>
        <div id="total-centavos"></div>
      </article>
    </section>
  </main>
</body>
</html>
