<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Casino Fondos</title>
  <link rel="stylesheet" href="css/casino-fondos.css">
  <script defer src="js/casino-fondos.js"> </script>
</head>
<body>
  <header>
    <nav>
      <a href="/calculadora">Calculadora</a>
      <a href="/">Inicio</a>
    </nav>
    <section id="titulo-elem">
      <span id="titulo-texto">Fondos</span>
    </section>
  </header>
  <main>
    <section id="administrar-fondo-cont">
      <article id="administrar-fondo-elem">
        <input id="monto-input" type="number" placeholder="Ingresar monto" name="">
        <input id="monto-sumar-btn" type="button" name="" value="+">
        <input id="monto-restar-btn" type="button" name="" value="-">
      </article>
    </section>
    <section id="fondo-elem">
      <span id="fondo-texto"></span>
    </section>
  </main>
</body>
</html>
