<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <script defer src="js/index.js"> </script>
  <title>Casino Virtual</title>
</head>
<body>
  <header>
    <nav>
      <a href="/calculadora">Calculadora</a>
      <a href="/fondos">Fondos</a>
      <a href="/limite-pozo">Limite Pozo</a>
    </nav>
    <section id="titulo-elem">
      <span id='titulo-text'>Cuentas</span>
    </section>
  </header>
  <main>
    <section id="agregar-cliente">
      <input id="cliente-nuevo-nombre" placeholder="Nombre" type="text" name="">
      <input id="agregar-cliente-btn" type="button" value="Agregar Cliente">
    </section>
    <section id="clientes">
    </section>
  </main>
</body>
</html>
