<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <script defer src="js/index.js"> </script>
  <title>Roman Banco Casino</title>
</head>
<body>
   <header><span>Cuentas</span></header>
   <main>
    <section id="agregar-cliente">
      <div id="nombre-etiqueta">Nombre</div>
      <input id="cliente-nuevo-nombre" type="text" name="">
      <input id="agregar-cliente-btn"type="button" value="Agregar Cliente">
    </section>
    <section id="clientes">
      </article>
    </section>
   </main>
</body>
</html>
